.gitignore
temp_credentials.json
.env
# Streamlit configuration files
.streamlit/config.toml
.streamlit/secrets.toml
components/ver.py

*.txt

*.toml
auxiliar_crear_hash_key_access.ipynb
code_crea_key_acces_streamlit_users.py
test_query_stock_agregada.py